<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Massage</title>
</head>
<body>
    <h3>Edit Your Chat :<%=chat._id%></h3>
    <p>This chat was send from :<b><%=chat.from%></b>  to <b><%=chat.to%></b></p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="msg" rows="10" cols="50"><%=chat.msg%></textarea>
        <button>Edit</button>
    </form>
</body>
</html>